.slide_images {
  height:400px;
  width:800px;
  margin-left: 23%;
  border: black 1px solid;
  vertical-align: center;
}

.heading {
  position: sticky;
  top:0
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mySlides {
  display: none;
  margin-bottom: 20px
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s all;
}

.book_list {
  border: solid black 1px;
  float:left;
  height: 300px;
  width: 450px;
}

.books {
  margin-top:40px;
  margin-right:30px;
  border: solid black 2px;
  width:900px;
  height: 300px;
  float: right;
}

ul#menu li {
  display: block;
  width: 170px;
  padding: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid black;
}

li:hover {
  background-color: black;
  color: white;
  font-size: 20px;
}

.active {
  background-color: #717171;
}
